Makefile.in
Makefile
.deps/
.libs/
*~
*.o
*.lo
*.la
*.mod
*.pyc
/aclocal.m4
/autom4te.cache/
/configure
/src/doug_config.h.in
/config.log
/config.status
/doc/Doxyfile
/libtool
/src/doug_config.h
/src/stamp-h1
/src/Make.deps
/src/main/Make.deps
/src/main/doug_aggr
/src/main/doug_main
/src/main/doug_main-main_drivers.obj
/src/matrix_gen

