
[DEFAULT]
doug-datadir: .
#: directory where doug_main and doug_aggr are located
doug-bindir: /usr/bin
#: directory where test is run
# @type: directory
doug-workdir: .

[doug]
# @type: list
# @type-params: yes, no
preserveoutput: no

max-time: 60

# DOUG
#: number of processes
nproc: 1
#: correct solution file
csolutionfname: solution.dat
#: DOUG executable
executable: %(doug-bindir)s/doug_aggr

# MPI
mpiboot:
mpihalt:
mpirun: mpirun

mpiboot-outfilename: mpiboot.out
mpiboot-errfilename: mpiboot.err
mpihalt-outfilename: mpihalt.out
mpihalt-errfilename: mpihalt.err

outfilename: doug.out
errfilename: doug.err

[doug-controls]
#: level of plotting
# @type: list
# @type-params: 0:disabled, 1, 2:show aggregates, 3
plotting: 2

#: output verbosity
verbose: 0

#: solution format
# @type: list
# @type-params: 0:txt, 1:bin, 2:xdr
# @subsection: Output
solution_format: 0

#: solution file
# @subsection: Output
solution_file: solution.txt

#: solver (CG,PCG)
# @type: list
# @type-params: 1:CG, 2:PCG
solver: 2
#: method
# @type: list
# @type-params: 1:additive, 2:multiplicative
method: 1
#: number of precondition levels
levels: 2

#: format of matrix file
# @type: list
# @type-params: 0:txt, 1:bin, 2:xdr
# @subsection: Input
assembled_mtx_format: 0

#: format of RHS file
# @type: list
# @type-params: 0:txt, 1:bin, 2:xdr
# @subsection: Input
assembled_rhs_format: 0

#: matrix file name
# @subsection: Input
assembled_mtx_file: %(doug-datadir)s/matrix.txt

#: RHS file name
# @subsection: Input
assembled_rhs_file: %(doug-datadir)s/rhs.txt

#: radius of fine aggregates
# @subsection: Aggregation
radius1: 2

# @subsection: Aggregation
strong1: 0.67e0
#: radius of coarse aggregates
# @subsection: Aggregation
radius2: 5
# @subsection: Aggregation
strong2: 0.67e0
# @subsection: Aggregation
minasize2: 96
# @subsection: Aggregation
maxasize2: 128

#: method how to construct coarse space
# @type: list
# @type-params: 1:usual, 2:robust
# @subsection: CoarseSpace
coarse_method: 1

# @subsection: CoarseSpace
overlap: -1

#: Smooth fine aggregates
# @subsection: CoarseSpace
smoothers: 0
